.app-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    &-i {
        position: absolute;
        display: none;
        background-color: @white;
        padding: 13px;
        font-size: 15px;
        line-height: 1.1em;
        font-weight: 500;
        .border-radius(4px);
        max-width: 178px;
        @media @media-small {
            font-size: 12px;
        }

        i{
            vertical-align: top;
            margin-top: 2px;
            @media @media-small {
                margin-top: 0;
            }
        }
        header{
            color: @seablue;
            font-size: 21px;
            margin: 0 0 3px;
            @media @media-small {
                font-size: 16px;
            }
            .big{
                font-size: 47px;
                line-height: .6em;
                margin-top: -4px;
                display: inline-block;
                vertical-align: top;
                @media @media-small {
                    font-size: 35px;
                }
                &.down{
                    vertical-align: bottom;
                    margin-bottom: 2px;
                }
            }
            .units{
                display: inline-block;
                vertical-align: bottom;
                line-height: 1em;
                margin-top: 16px;
            }
            .black{
                color: @black;
                display: inline-block;
                vertical-align: bottom;
                line-height: 1em;
            }
        }
        &.active {
            display: block;
        }
        .close {
            position: absolute;
            cursor: pointer;
            display: block;
            margin: 2px;
            width: 14px;
            height: 14px;
            top: -7px;
            left: -7px;
            z-index: 1;
            .border-radius(50%);
            background: @seablue;
            .icon;
            .icon-cancel;
            font-size: 9px;
            text-align: center;
            line-height: 11px;
            @media @media-small {
                width: 12px;
                height: 12px;
                font-size: 7px;
                line-height: 10px;
                top: -6px;
                left: -6px;
            }
            &:nth-child(2){
                top:auto;
                left: auto;
                bottom: -7px;
                right: -7px;
                @media @media-small {
                    bottom: -6px;
                    right: -6px;
                }
            }

            &:before {
                display: inline-block;
                vertical-align: middle;
                color: @white;
                line-height: 14px;
                @media @media-small {
                  line-height: 12px;
                }
            }

            &:after {
                content: "";
                position: absolute;
                display: block;

                width: 22px;
                height: 22px;
                .border-radius(50%);
                border: 1px solid @seablue;
                top: -5px;
                left: -5px;
                @media @media-small {
                    width: 20px;
                    height: 20px;
                    top: -5px;
                    left: -5px;
                }
            }
        }
        .progress{
            height: 2px;
            background: @gray-dark;
            margin: 13px 5px 10px;
            position: relative;
            .progress-bar{
                position: absolute;
                top: -2px;
                height: 6px;
                left: 0;
                background-color: @seablue;
            }

        }
        &:nth-child(1){
            top: 446px;
            left: 453px;
        }
        &:nth-child(2){
            top: 50px;
            left: 518px;
            header{
                .big{
                    margin-top: 1px;
                    letter-spacing: -0.03em;
                }
            }
        }
        &:nth-child(3){
            top: 378px;
            left: 249px;
            max-width: 205px;
        }
        &:nth-child(4){
            top: 306px;
            left: 317px;
            max-width: 169px;
            i{
                margin-top: -2px;
            }
            header {
                .big{
                    margin-top: 5px;
                }
            }
        }
        &:nth-child(5){
            top: 181px;
            left: 482px;
            max-width: 217px;
        }
        &:nth-child(6){
            top: 247px;
            left: 472px;
            max-width: 147px;
            header{
                margin-bottom: 18px;
                margin-top: -5px;
                .big{
                    font-size: 35px;
                }
                .units{
                    margin-top: 10px;
                }
            }
        }
        &:nth-child(7){
            top: 304px;
            left: 341px;
            max-width: 237px;
            header{
                margin-bottom: 8px;
            }
            .close{
                left: auto;
                right: -7px;
            }
        }
        &:nth-child(8){
            top: 231px;
            left: 375px;
            max-width: 195px;
            header{
                .big.down{
                    margin-bottom: 6px;
                }
            }
            .close{
                left: auto;
                right: -7px;
            }
        }
        &:nth-child(9){
            top: 126px;
            left: 252px;
            max-width: 195px;
            .close{
                left: auto;
                right: -7px;
            }
            header{
                .big.down{
                    margin-bottom: 6px;
                }
            }
        }
        &:nth-child(10){
            top: 133px;
            left: 512px;
            max-width: 209px;
        }
        @media @media-small {
            max-width: 178px*@koef;
            &:nth-child(1){
                top: 446px*@koefh;
                left: 453px*@koef;
            }
            &:nth-child(2){
                top: 38px;
                left: 396px;
                header{
                    .big{
                        margin-top: 1px;
                        letter-spacing: -0.03em;
                    }
                }
            }
            &:nth-child(3){
                top: 378px*@koefh;
                left: 249px*@koef;
                max-width: 205px*@koef;
            }
            &:nth-child(4){
                top: 234px;
                left: 242px;
                max-width: 169px*@koef;
                i{
                    margin-top: -2px;
                }
                header {
                    .big{
                        margin-top: 5px;
                    }
                }
            }
            &:nth-child(5){
                top: 138px;
                left: 368px;
                max-width: 217px*@koef;
            }
            &:nth-child(6){
                top: 247px*@koefh;
                left: 472px*@koef;
                max-width: 113px;
                header{
                    margin-bottom: 6px;
                    margin-top: -3px;
                    .big{
                        font-size: 24px;
                    }
                    .units{
                        margin-top: 6px;
                    }
                }
            }
            &:nth-child(7){
                top: 232px;
                left: 261px;
                max-width: 237px*@koef;
                i{
                    height: 40px;
                    margin-top: 3px;
                }
                header{
                    margin-bottom: 8px;
                }
                .close{
                    left: auto;
                    right: -6px;
                }
            }
            &:nth-child(8){
                top: 177px;
                left: 287px;
                max-width: 195px*@koef;
                header{
                    .big.down{
                        margin-bottom: 6px;
                    }
                }
                i{
                    margin-top: 3px;
                }
                .close{
                    left: auto;
                    right: -6px;
                }
            }
            &:nth-child(9){
                top: 97px;
                left: 193px;
                max-width: 195px*@koef;
                .close{
                    left: auto;
                    right: -6px;
                }
                header{
                    .big.down{
                        margin-bottom: 6px;
                    }
                }
            }
            &:nth-child(10){
                top: 102px;
                left: 391px;
                max-width: 209px*@koef;
            }
        }
    }
}