.app-wrap, .app-content{
    width: 720px;
    height: 520px;
    position: relative;
    background: url("@{public}images/bg.jpg") no-repeat;
    .background-size(100%);

    @media @media-big {
        width: 945px;
        height: 683px;
    }
}
@koef: 720 / 945;
@koefh : 520 / 683;

.app-content{
    padding-bottom: 110px;
    overflow: hidden;
}
.app-points{

    .point{
        position: absolute;
        cursor: pointer;
        margin: 2px;
        width: 14px;
        height: 14px;
        .border-radius(50%);
        background: @brightyellow;

        z-index: 10;
        @media @media-small {
            width: 12px;
            height: 12px;
        }
        .app-content.on &{
            z-index: 7;
        }
        .icon{
            width: 14px;
            height: 14px;
            text-align: center;
            line-height: 14px;
            font-size: 11px;
            position: absolute;
            top:0;
            left:0;
            &:before{
                display: inline-block;
                vertical-align: middle;
                line-height: 14px;
            }
            @media @media-small {
                width: 12px;
                height: 12px;
                line-height: 12px;
                font-size: 7px;
                &:before{
                    line-height: 14px;
                }
            }
        }
        &:before{
            content: "";
            position: absolute;
            display: block;

            width: 22px;
            height: 22px;
            .border-radius(50%);
            border: 1px solid @brightyellow;
            top: -5px;
            left: -5px;
            @media @media-small {
                width: 20px;
                height: 20px;
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            .border-radius(50%);
            border: 1px solid @brightyellow;
            top: -6px;
            left: -6px;
            display: none;
            @media @media-small {
                width: 24px;
                height: 24px;
            }
        }
        &:hover{
            width: 18px;
            height: 18px;
            .border-radius(50%);
            margin: 0;
            @media @media-small {
                width: 14px;
                height: 14px;
            }
            .icon{
                width: 18px;
                height: 18px;
                line-height: 18px;
                font-size: 13px;
                &:before{
                    line-height: 17px;
                }
                @media @media-small {
                    width: 14px;
                    height: 14px;
                    line-height: 14px;
                    font-size: 9px;
                    &:before{
                        line-height: 14px;
                    }
                }
            }
            &:before{
                top: -3px;
                left: -3px;
                @media @media-small {
                    top: -4px;
                    left: -4px;
                }
            }
            &:after{
                display: block;
            }
        }
        top: 0;
        &:nth-child(1){
            &.animated{
                top: 439px;
                .animation-delay(.2s);
            }
            left: 446px;
        }
        &:nth-child(2){
            &.animated{
                top: 43px;
                .animation-delay(.4s);
            }
            left: 511px;
        }
        &:nth-child(3){
            &.animated{
                top: 371px;
                .animation-delay(.6s);
            }
            left: 242px;
        }
        &:nth-child(4){
            &.animated{
                top: 299px;
                .animation-delay(.8s);
            }
            left: 310px;
        }
        &:nth-child(5){
            &.animated{
                top: 174px;
                .animation-delay(1s);
            }
            left: 475px;
        }
        &:nth-child(6){
            &.animated{
                top: 240px;
                .animation-delay(1.2s);
            }
            left: 465px;
        }
        &:nth-child(7){
            &.animated{
                top: 386px;
                .animation-delay(1.4s);
            }
            left: 608px;
        }
        &:nth-child(8){
            &.animated{
                top: 297px;
                .animation-delay(1.6s);
            }
            left: 567px;
        }
        &:nth-child(9){
            &.animated{
                top: 224px;
                .animation-delay(1.8s);
            }
            left: 559px;
        }
        &:nth-child(10){
            &.animated{
                top: 119px;
                .animation-delay(2s);
            }
            left: 436px;
        }
        &:nth-child(11){
            &.animated{
                top: 126px;
                .animation-delay(2.2s);
            }
            left: 505px;
        }
        @media @media-small {
            &:nth-child(1){
                &.animated{
                    top: 334px;
                    .animation-delay(.2s);
                }
                left: 339px;
            }
            &:nth-child(2){
                &.animated{
                    top: 32px;
                    .animation-delay(.4s);
                }
                left: 390px;
            }
            &:nth-child(3){
                &.animated{
                    top: 282px;
                    .animation-delay(.6s);
                }
                left: 184px;
            }
            &:nth-child(4){
                &.animated{
                    top: 228px;
                    .animation-delay(.8s);
                }
                left: 236px;
            }
            &:nth-child(5){
                &.animated{
                    top: 132px;
                    .animation-delay(1s);
                }
                left: 362px;
            }
            &:nth-child(6){
                &.animated{
                    top: 182px;
                    .animation-delay(1.2s);
                }
                left: 354px;
            }
            &:nth-child(7){
                &.animated{
                    top: 294px;
                    .animation-delay(1.4s);
                }
                left: 463px;
            }
            &:nth-child(8){
                &.animated{
                    top: 226px;
                    .animation-delay(1.6s);
                }
                left: 432px;
            }
            &:nth-child(9){
                &.animated{
                    top: 171px;
                    .animation-delay(1.8s);
                }
                left: 426px;
            }
            &:nth-child(10){
                &.animated{
                    top: 91px;
                    .animation-delay(2s);
                }
                left: 332px;
            }
            &:nth-child(11){
                &.animated{
                    top: 96px;
                    .animation-delay(2.2s);
                }
                left: 385px;
            }
        }

    }
}
#app-wrap {
    font-family: 'MetaPro', Arial, sans-serif;
    * {
        .box-sizing(border-box);
    }
    .app-slides {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        white-space: nowrap;
        padding: 0 20px;
        z-index: 11;
        @media @media-small {
            margin-bottom: 12px;
            padding: 0 10px;
        }
    }
    .app-slide.slick-slide{
        display: inline-block;
        vertical-align: top;
        float: none;
        cursor: pointer;
        &.slick-current{
            .app-slide__img{
                margin: 0;
                border: 1px solid @yellow;
                img{
                    width: 80px;
                    height: 80px;
                    margin: 0;
                    padding: 0;
                    @media @media-small {
                        width: 62px;
                        height: 62px;
                    }
                }
                &:after{
                    content: none;
                    display: none;
                }
            }
        }
        &:focus{
            outline: none;
        }
    }
    .app-slide__img {
        display: inline-block;
        
        margin: 7px 4px 1px 4px;
        position: relative;
        .border-radius(4px);
        overflow: hidden;
        @media @media-small {
            margin: 7px 3px 1px 3px;
        }
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: fade(@black,30%);
            top:0;
            left:0;
        }

        img{
            width: 75px;
            height: 75px;
            display: block;
            margin: 0;
            padding: 0;
            @media @media-small {
                width: 57px;
                height: 57px;
            }
        }
    }
}

.app-logo{
    position: relative;
    display: inline-block;
    margin-left: 25px;
    @media @media-small {
        margin-left: 20px;
    }
    &__text{
        font-size: 20px;
        text-transform: uppercase;
        color: @black;
        font-weight: 500;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 170px;
        top:0;
        left: 0;
        text-align: center;
        line-height: 1.1em;
        @media @media-small {
            padding-top: 130px;
            font-size: 15px;
        }
    }
     img{
        height: 290px;
         .opacity(.8);
        @media @media-small {
            height: 220px;
        }
    }
}
.copyright {
    text-transform: uppercase;
    font-family: 'MetaPro', Arial, sans-serif;
    font-size: 10px;
    position: absolute;
    color: #ffffff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: -10px;
    bottom: 190px;
    font-weight: 500;
}
@media (min-width: 1280px) {
    .copyright {
        left: -20px;
        font-size: 13px;
    }
}

.app-texts{
    position: relative;
    margin-top: 40px;
    width: 210px;
    float: right;
    z-index: 10;

    @media @media-small {
        margin-top: 30px;
        width: 160px;
    }

    &-i{
        position: absolute;
        right: 0;
        top:0;
        width: 100%;

        font-size: 16px;
        font-weight: 500;
        margin-right: -100%;
        .transition(.5s margin-right ease);
        z-index: 0;

        &.active{
            margin-right: 0;
            z-index: 1;
        }
        &:focus{
            outline: none;
        }

        header{
            color: @seablue;
            margin: 0 0 10px;
            text-transform: uppercase;
            font-size: 15px;
            @media @media-big {
                font-size: 20px;
            }
        }
        @media @media-small {
            font-size: 15px;
            line-height: 1.065em;
        }
        &__wrap{
            background-color: @white;
            padding: 20px;
            position: relative;
            z-index: 1;
            @media @media-small {
                padding: 16px 17px 16px 18px;
            }
        }
    }
}
.close-all{
    position: absolute;
    right: 100%;
    margin-right: -32px;
    top:0;
    cursor: pointer;
    padding: 6px;
    background: @seablue url("@{public}images/icons/go.svg") no-repeat center;
    .background-size(auto 20px);
    height: 30px;
    width: 32px;
    .transition(.5s margin-right ease);
    @media @media-small {
        right: 100%;
        margin-right: -22px;
        padding: 4px;
        height: 20px;
        width: 22px;
        .background-size(auto 11px);
    }
}
.active{
    .close-all{
        margin-right: 0;
    }
}