.block-icon{
    display: inline-block;
    height: 34px;
    @media @media-small {
        height: 28px;
    }
}
.block-icon1{

    background: url("@{public}images/icons/icon1.svg") no-repeat center;
    .background-size(contain);
    width: 26px;
    @media @media-small {
        width: 23px;
    }
}
.block-icon2{

    background: url("@{public}images/icons/icon2.svg") no-repeat center;
    .background-size(contain);
    width: 29px;
    @media @media-small {
        width: 24px;
    }
}
.block-icon3{

    background: url("@{public}images/icons/icon3.svg") no-repeat center;
    .background-size(contain);
    width: 88px;
    @media @media-small {
        width: 73px;
    }
}
.block-icon4{

    background: url("@{public}images/icons/icon4.svg") no-repeat center;
    .background-size(contain);
    width: 40px;
    height: 40px;
    @media @media-small {
        width: 30px;
        height: 30px;
    }
}

.block-icon7{

    background: url("@{public}images/icons/icon7.svg") no-repeat center;
    .background-size(contain);
    width:120px;
    height: 40px;
    @media @media-small {
        width: 91px;
        height: 30px;

    }
}
.block-icon8{

     background: url("@{public}images/icons/icon8.svg") no-repeat center;
     .background-size(contain);
    width: 27px;
    @media @media-small {
        width: 22px;
    }
 }
.block-icon9{

    background: url("@{public}images/icons/icon9.svg") no-repeat center;
    .background-size(contain);
    width: 26px;
    @media @media-small {
        width: 21.5px;
    }
}