/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clean-ul-list {
  list-style: none;
}
.clean-ul-list,
.clean-ul-list li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on April 11, 2016 4:15 PM */
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-ThinIta.eot');
  src: url('..//fonts/MetaPro-ThinIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-ThinIta.woff') format('woff'), url('..//fonts/MetaPro-ThinIta.ttf') format('truetype'), url('..//fonts/MetaPro-ThinIta.svg#MetaPro-ThinIta') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro-Hair';
  src: url('..//fonts/MetaPro-Hair.eot');
  src: url('..//fonts/MetaPro-Hair.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Hair.woff') format('woff'), url('..//fonts/MetaPro-Hair.ttf') format('truetype'), url('..//fonts/MetaPro-Hair.svg#MetaPro-Hair') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-BoldIta.eot');
  src: url('..//fonts/MetaPro-BoldIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BoldIta.woff') format('woff'), url('..//fonts/MetaPro-BoldIta.ttf') format('truetype'), url('..//fonts/MetaPro-BoldIta.svg#MetaPro-BoldIta') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Norm.eot');
  src: url('..//fonts/MetaPro-Norm.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Norm.woff') format('woff'), url('..//fonts/MetaPro-Norm.ttf') format('truetype'), url('..//fonts/MetaPro-Norm.svg#MetaPro-Norm') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro-BookIta';
  src: url('..//fonts/MetaPro-BookIta.eot');
  src: url('..//fonts/MetaPro-BookIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BookIta.woff') format('woff'), url('..//fonts/MetaPro-BookIta.ttf') format('truetype'), url('..//fonts/MetaPro-BookIta.svg#MetaPro-BookIta') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-NormIta.eot');
  src: url('..//fonts/MetaPro-NormIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-NormIta.woff') format('woff'), url('..//fonts/MetaPro-NormIta.ttf') format('truetype'), url('..//fonts/MetaPro-NormIta.svg#MetaPro-NormIta') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-LightIta.eot');
  src: url('..//fonts/MetaPro-LightIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-LightIta.woff') format('woff'), url('..//fonts/MetaPro-LightIta.ttf') format('truetype'), url('..//fonts/MetaPro-LightIta.svg#MetaPro-LightIta') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro-Hair';
  src: url('..//fonts/MetaPro-HairIta.eot');
  src: url('..//fonts/MetaPro-HairIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-HairIta.woff') format('woff'), url('..//fonts/MetaPro-HairIta.ttf') format('truetype'), url('..//fonts/MetaPro-HairIta.svg#MetaPro-HairIta') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Light.eot');
  src: url('..//fonts/MetaPro-Light.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Light.woff') format('woff'), url('..//fonts/MetaPro-Light.ttf') format('truetype'), url('..//fonts/MetaPro-Light.svg#MetaPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Thin.eot');
  src: url('..//fonts/MetaPro-Thin.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Thin.woff') format('woff'), url('..//fonts/MetaPro-Thin.ttf') format('truetype'), url('..//fonts/MetaPro-Thin.svg#MetaPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Medi.eot');
  src: url('..//fonts/MetaPro-Medi.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Medi.woff') format('woff'), url('..//fonts/MetaPro-Medi.ttf') format('truetype'), url('..//fonts/MetaPro-Medi.svg#MetaPro-Medi') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro-Book';
  src: url('..//fonts/MetaPro-Book.eot');
  src: url('..//fonts/MetaPro-Book.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Book.woff') format('woff'), url('..//fonts/MetaPro-Book.ttf') format('truetype'), url('..//fonts/MetaPro-Book.svg#MetaPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Black.eot');
  src: url('..//fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Black.woff') format('woff'), url('..//fonts/MetaPro-Black.ttf') format('truetype'), url('..//fonts/MetaPro-Black.svg#MetaPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-BlackIta.eot');
  src: url('..//fonts/MetaPro-BlackIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-BlackIta.woff') format('woff'), url('..//fonts/MetaPro-BlackIta.ttf') format('truetype'), url('..//fonts/MetaPro-BlackIta.svg#MetaPro-BlackIta') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-Bold.eot');
  src: url('..//fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-Bold.woff') format('woff'), url('..//fonts/MetaPro-Bold.ttf') format('truetype'), url('..//fonts/MetaPro-Bold.svg#MetaPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro';
  src: url('..//fonts/MetaPro-MediIta.eot');
  src: url('..//fonts/MetaPro-MediIta.eot?#iefix') format('embedded-opentype'), url('..//fonts/MetaPro-MediIta.woff') format('woff'), url('..//fonts/MetaPro-MediIta.ttf') format('truetype'), url('..//fonts/MetaPro-MediIta.svg#MetaPro-MediIta') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'controls';
  src: url('..//fonts/controls/hockey.eot');
  src: url('..//fonts/controls/hockey.eot#iefix') format('embedded-opentype'), url('..//fonts/controls/hockey.woff2') format('woff2'), url('..//fonts/controls/hockey.woff') format('woff'), url('..//fonts/controls/hockey.ttf') format('truetype'), url('..//fonts/controls/hockey.svg#controls') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-plus:before {
  content: '\e800';
}
.icon-cancel:before {
  content: '\e801';
}
.old-version__txt {
  display: none;
}
.app-wrap.oldie {
  font-family: 'MetaPro', Arial, sans-serif;
  background: url('../images/720_zaglushka.jpg') no-repeat top center;
  text-align: center;
  *zoom: 1;
}
.app-wrap.oldie:before,
.app-wrap.oldie:after {
  content: " ";
  display: table;
}
.app-wrap.oldie:after {
  clear: both;
}
.app-wrap.oldie .app-content {
  display: none;
}
.app-wrap.oldie .zoom {
  display: none!important;
}
.app-wrap.oldie .old-version__txt {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 160px 0 0;
  padding-right: 20px;
  padding-left: 20px;
}
.app-wrap.oldie .new-browsers-lst {
  display: block;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
}
.app-wrap.oldie .new-browsers-lst li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.app-wrap.oldie .new-browsers-lst li i {
  background: url("..//images/browsers-sprite.png") no-repeat;
  display: block;
  height: 50px;
  width: 51px;
}
.app-wrap.oldie .new-browsers-lst li .ie {
  background-position: -127px -5px;
}
.app-wrap.oldie .new-browsers-lst li .ff {
  background-position: -66px -5px;
}
.app-wrap.oldie .new-browsers-lst li .chrome {
  background-position: -5px -5px;
}
@media (min-width: 1280px) {
  .app-wrap.oldie .old-version__txt {
    margin-top: 240px;
    padding-right: 135px;
    padding-left: 135px;
  }
  .app-wrap.oldie {
    background: url('..//images/945_zaglushka.jpg') no-repeat top center;
  }
}
.app-wrap,
.app-content {
  width: 720px;
  height: 520px;
  position: relative;
  background: url("../images/bg.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
@media (min-width: 1280px) {
  .app-wrap,
  .app-content {
    width: 945px;
    height: 683px;
  }
}
.app-content {
  padding-bottom: 110px;
  overflow: hidden;
}
.app-points .point {
  position: absolute;
  cursor: pointer;
  margin: 2px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  background: #ffd200;
  z-index: 10;
  top: 0;
}
@media (max-width: 1279px) {
  .app-points .point {
    width: 12px;
    height: 12px;
  }
}
.app-content.on .app-points .point {
  z-index: 7;
}
.app-points .point .icon {
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.app-points .point .icon:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}
@media (max-width: 1279px) {
  .app-points .point .icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 7px;
  }
  .app-points .point .icon:before {
    line-height: 14px;
  }
}
.app-points .point:before {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  border: 1px solid #ffd200;
  top: -5px;
  left: -5px;
}
@media (max-width: 1279px) {
  .app-points .point:before {
    width: 20px;
    height: 20px;
  }
}
.app-points .point:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  border: 1px solid #ffd200;
  top: -6px;
  left: -6px;
  display: none;
}
@media (max-width: 1279px) {
  .app-points .point:after {
    width: 24px;
    height: 24px;
  }
}
.app-points .point:hover {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  margin: 0;
}
@media (max-width: 1279px) {
  .app-points .point:hover {
    width: 14px;
    height: 14px;
  }
}
.app-points .point:hover .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 13px;
}
.app-points .point:hover .icon:before {
  line-height: 17px;
}
@media (max-width: 1279px) {
  .app-points .point:hover .icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 9px;
  }
  .app-points .point:hover .icon:before {
    line-height: 14px;
  }
}
.app-points .point:hover:before {
  top: -3px;
  left: -3px;
}
@media (max-width: 1279px) {
  .app-points .point:hover:before {
    top: -4px;
    left: -4px;
  }
}
.app-points .point:hover:after {
  display: block;
}
.app-points .point:nth-child(1) {
  left: 446px;
}
.app-points .point:nth-child(1).animated {
  top: 439px;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.app-points .point:nth-child(2) {
  left: 511px;
}
.app-points .point:nth-child(2).animated {
  top: 43px;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.app-points .point:nth-child(3) {
  left: 242px;
}
.app-points .point:nth-child(3).animated {
  top: 371px;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.app-points .point:nth-child(4) {
  left: 310px;
}
.app-points .point:nth-child(4).animated {
  top: 299px;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.app-points .point:nth-child(5) {
  left: 475px;
}
.app-points .point:nth-child(5).animated {
  top: 174px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.app-points .point:nth-child(6) {
  left: 465px;
}
.app-points .point:nth-child(6).animated {
  top: 240px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.app-points .point:nth-child(7) {
  left: 608px;
}
.app-points .point:nth-child(7).animated {
  top: 386px;
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.app-points .point:nth-child(8) {
  left: 567px;
}
.app-points .point:nth-child(8).animated {
  top: 297px;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.app-points .point:nth-child(9) {
  left: 559px;
}
.app-points .point:nth-child(9).animated {
  top: 224px;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.app-points .point:nth-child(10) {
  left: 436px;
}
.app-points .point:nth-child(10).animated {
  top: 119px;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.app-points .point:nth-child(11) {
  left: 505px;
}
.app-points .point:nth-child(11).animated {
  top: 126px;
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
@media (max-width: 1279px) {
  .app-points .point:nth-child(1) {
    left: 339px;
  }
  .app-points .point:nth-child(1).animated {
    top: 334px;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .app-points .point:nth-child(2) {
    left: 390px;
  }
  .app-points .point:nth-child(2).animated {
    top: 32px;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .app-points .point:nth-child(3) {
    left: 184px;
  }
  .app-points .point:nth-child(3).animated {
    top: 282px;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .app-points .point:nth-child(4) {
    left: 236px;
  }
  .app-points .point:nth-child(4).animated {
    top: 228px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .app-points .point:nth-child(5) {
    left: 362px;
  }
  .app-points .point:nth-child(5).animated {
    top: 132px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  .app-points .point:nth-child(6) {
    left: 354px;
  }
  .app-points .point:nth-child(6).animated {
    top: 182px;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .app-points .point:nth-child(7) {
    left: 463px;
  }
  .app-points .point:nth-child(7).animated {
    top: 294px;
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  .app-points .point:nth-child(8) {
    left: 432px;
  }
  .app-points .point:nth-child(8).animated {
    top: 226px;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  .app-points .point:nth-child(9) {
    left: 426px;
  }
  .app-points .point:nth-child(9).animated {
    top: 171px;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  .app-points .point:nth-child(10) {
    left: 332px;
  }
  .app-points .point:nth-child(10).animated {
    top: 91px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  .app-points .point:nth-child(11) {
    left: 385px;
  }
  .app-points .point:nth-child(11).animated {
    top: 96px;
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    animation-delay: 2.2s;
  }
}
#app-wrap {
  font-family: 'MetaPro', Arial, sans-serif;
}
#app-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app-wrap .app-slides {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  white-space: nowrap;
  padding: 0 20px;
  z-index: 11;
}
@media (max-width: 1279px) {
  #app-wrap .app-slides {
    margin-bottom: 12px;
    padding: 0 10px;
  }
}
#app-wrap .app-slide.slick-slide {
  display: inline-block;
  vertical-align: top;
  float: none;
  cursor: pointer;
}
#app-wrap .app-slide.slick-slide.slick-current .app-slide__img {
  margin: 0;
  border: 1px solid #d3c44a;
}
#app-wrap .app-slide.slick-slide.slick-current .app-slide__img img {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1279px) {
  #app-wrap .app-slide.slick-slide.slick-current .app-slide__img img {
    width: 62px;
    height: 62px;
  }
}
#app-wrap .app-slide.slick-slide.slick-current .app-slide__img:after {
  content: none;
  display: none;
}
#app-wrap .app-slide.slick-slide:focus {
  outline: none;
}
#app-wrap .app-slide__img {
  display: inline-block;
  margin: 7px 4px 1px 4px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  overflow: hidden;
}
@media (max-width: 1279px) {
  #app-wrap .app-slide__img {
    margin: 7px 3px 1px 3px;
  }
}
#app-wrap .app-slide__img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
#app-wrap .app-slide__img img {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0;
  padding: 0;
}
@media (max-width: 1279px) {
  #app-wrap .app-slide__img img {
    width: 57px;
    height: 57px;
  }
}
.app-logo {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
@media (max-width: 1279px) {
  .app-logo {
    margin-left: 20px;
  }
}
.app-logo__text {
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 170px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.1em;
}
@media (max-width: 1279px) {
  .app-logo__text {
    padding-top: 130px;
    font-size: 15px;
  }
}
.app-logo img {
  height: 290px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
@media (max-width: 1279px) {
  .app-logo img {
    height: 220px;
  }
}
.copyright {
  text-transform: uppercase;
  font-family: 'MetaPro', Arial, sans-serif;
  font-size: 10px;
  position: absolute;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -10px;
  bottom: 190px;
  font-weight: 500;
}
@media (min-width: 1280px) {
  .copyright {
    left: -20px;
    font-size: 13px;
  }
}
.app-texts {
  position: relative;
  margin-top: 40px;
  width: 210px;
  float: right;
  z-index: 10;
}
@media (max-width: 1279px) {
  .app-texts {
    margin-top: 30px;
    width: 160px;
  }
}
.app-texts-i {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-right: -100%;
  -webkit-transition: 0.5s margin-right ease;
  -moz-transition: 0.5s margin-right ease;
  -ms-transition: 0.5s margin-right ease;
  transition: 0.5s margin-right ease;
  z-index: 0;
}
.app-texts-i.active {
  margin-right: 0;
  z-index: 1;
}
.app-texts-i:focus {
  outline: none;
}
.app-texts-i header {
  color: #4ec2c2;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 15px;
}
@media (min-width: 1280px) {
  .app-texts-i header {
    font-size: 20px;
  }
}
@media (max-width: 1279px) {
  .app-texts-i {
    font-size: 15px;
    line-height: 1.065em;
  }
}
.app-texts-i__wrap {
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1279px) {
  .app-texts-i__wrap {
    padding: 16px 17px 16px 18px;
  }
}
.close-all {
  position: absolute;
  right: 100%;
  margin-right: -32px;
  top: 0;
  cursor: pointer;
  padding: 6px;
  background: #4ec2c2 url("../images/icons/go.svg") no-repeat center;
  -webkit-background-size: auto 20px;
  -moz-background-size: auto 20px;
  -o-background-size: auto 20px;
  background-size: auto 20px;
  height: 30px;
  width: 32px;
  -webkit-transition: 0.5s margin-right ease;
  -moz-transition: 0.5s margin-right ease;
  -ms-transition: 0.5s margin-right ease;
  transition: 0.5s margin-right ease;
}
@media (max-width: 1279px) {
  .close-all {
    right: 100%;
    margin-right: -22px;
    padding: 4px;
    height: 20px;
    width: 22px;
    -webkit-background-size: auto 11px;
    -moz-background-size: auto 11px;
    -o-background-size: auto 11px;
    background-size: auto 11px;
  }
}
.active .close-all {
  margin-right: 0;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.app-blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.app-blocks-i {
  position: absolute;
  display: none;
  background-color: #ffffff;
  padding: 13px;
  font-size: 15px;
  line-height: 1.1em;
  font-weight: 500;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  max-width: 178px;
}
@media (max-width: 1279px) {
  .app-blocks-i {
    font-size: 12px;
  }
}
.app-blocks-i i {
  vertical-align: top;
  margin-top: 2px;
}
@media (max-width: 1279px) {
  .app-blocks-i i {
    margin-top: 0;
  }
}
.app-blocks-i header {
  color: #4ec2c2;
  font-size: 21px;
  margin: 0 0 3px;
}
@media (max-width: 1279px) {
  .app-blocks-i header {
    font-size: 16px;
  }
}
.app-blocks-i header .big {
  font-size: 47px;
  line-height: .6em;
  margin-top: -4px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1279px) {
  .app-blocks-i header .big {
    font-size: 35px;
  }
}
.app-blocks-i header .big.down {
  vertical-align: bottom;
  margin-bottom: 2px;
}
.app-blocks-i header .units {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1em;
  margin-top: 16px;
}
.app-blocks-i header .black {
  color: #000000;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1em;
}
.app-blocks-i.active {
  display: block;
}
.app-blocks-i .close {
  position: absolute;
  cursor: pointer;
  display: block;
  margin: 2px;
  width: 14px;
  height: 14px;
  top: -7px;
  left: -7px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  background: #4ec2c2;
  font-size: 9px;
  text-align: center;
  line-height: 11px;
}
.app-blocks-i .close:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.app-blocks-i .close:before {
  content: '\e801';
}
@media (max-width: 1279px) {
  .app-blocks-i .close {
    width: 12px;
    height: 12px;
    font-size: 7px;
    line-height: 10px;
    top: -6px;
    left: -6px;
  }
}
.app-blocks-i .close:nth-child(2) {
  top: auto;
  left: auto;
  bottom: -7px;
  right: -7px;
}
@media (max-width: 1279px) {
  .app-blocks-i .close:nth-child(2) {
    bottom: -6px;
    right: -6px;
  }
}
.app-blocks-i .close:before {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 14px;
}
@media (max-width: 1279px) {
  .app-blocks-i .close:before {
    line-height: 12px;
  }
}
.app-blocks-i .close:after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  border: 1px solid #4ec2c2;
  top: -5px;
  left: -5px;
}
@media (max-width: 1279px) {
  .app-blocks-i .close:after {
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px;
  }
}
.app-blocks-i .progress {
  height: 2px;
  background: #a7a9ab;
  margin: 13px 5px 10px;
  position: relative;
}
.app-blocks-i .progress .progress-bar {
  position: absolute;
  top: -2px;
  height: 6px;
  left: 0;
  background-color: #4ec2c2;
}
.app-blocks-i:nth-child(1) {
  top: 446px;
  left: 453px;
}
.app-blocks-i:nth-child(2) {
  top: 50px;
  left: 518px;
}
.app-blocks-i:nth-child(2) header .big {
  margin-top: 1px;
  letter-spacing: -0.03em;
}
.app-blocks-i:nth-child(3) {
  top: 378px;
  left: 249px;
  max-width: 205px;
}
.app-blocks-i:nth-child(4) {
  top: 306px;
  left: 317px;
  max-width: 169px;
}
.app-blocks-i:nth-child(4) i {
  margin-top: -2px;
}
.app-blocks-i:nth-child(4) header .big {
  margin-top: 5px;
}
.app-blocks-i:nth-child(5) {
  top: 181px;
  left: 482px;
  max-width: 217px;
}
.app-blocks-i:nth-child(6) {
  top: 247px;
  left: 472px;
  max-width: 147px;
}
.app-blocks-i:nth-child(6) header {
  margin-bottom: 18px;
  margin-top: -5px;
}
.app-blocks-i:nth-child(6) header .big {
  font-size: 35px;
}
.app-blocks-i:nth-child(6) header .units {
  margin-top: 10px;
}
.app-blocks-i:nth-child(7) {
  top: 304px;
  left: 341px;
  max-width: 237px;
}
.app-blocks-i:nth-child(7) header {
  margin-bottom: 8px;
}
.app-blocks-i:nth-child(7) .close {
  left: auto;
  right: -7px;
}
.app-blocks-i:nth-child(8) {
  top: 231px;
  left: 375px;
  max-width: 195px;
}
.app-blocks-i:nth-child(8) header .big.down {
  margin-bottom: 6px;
}
.app-blocks-i:nth-child(8) .close {
  left: auto;
  right: -7px;
}
.app-blocks-i:nth-child(9) {
  top: 126px;
  left: 252px;
  max-width: 195px;
}
.app-blocks-i:nth-child(9) .close {
  left: auto;
  right: -7px;
}
.app-blocks-i:nth-child(9) header .big.down {
  margin-bottom: 6px;
}
.app-blocks-i:nth-child(10) {
  top: 133px;
  left: 512px;
  max-width: 209px;
}
@media (max-width: 1279px) {
  .app-blocks-i {
    max-width: 135.61904762px;
  }
  .app-blocks-i:nth-child(1) {
    top: 339.56076135px;
    left: 345.14285714px;
  }
  .app-blocks-i:nth-child(2) {
    top: 38px;
    left: 396px;
  }
  .app-blocks-i:nth-child(2) header .big {
    margin-top: 1px;
    letter-spacing: -0.03em;
  }
  .app-blocks-i:nth-child(3) {
    top: 287.78916545px;
    left: 189.71428571px;
    max-width: 156.19047619px;
  }
  .app-blocks-i:nth-child(4) {
    top: 234px;
    left: 242px;
    max-width: 128.76190476px;
  }
  .app-blocks-i:nth-child(4) i {
    margin-top: -2px;
  }
  .app-blocks-i:nth-child(4) header .big {
    margin-top: 5px;
  }
  .app-blocks-i:nth-child(5) {
    top: 138px;
    left: 368px;
    max-width: 165.33333333px;
  }
  .app-blocks-i:nth-child(6) {
    top: 188.05270864px;
    left: 359.61904762px;
    max-width: 113px;
  }
  .app-blocks-i:nth-child(6) header {
    margin-bottom: 6px;
    margin-top: -3px;
  }
  .app-blocks-i:nth-child(6) header .big {
    font-size: 24px;
  }
  .app-blocks-i:nth-child(6) header .units {
    margin-top: 6px;
  }
  .app-blocks-i:nth-child(7) {
    top: 232px;
    left: 261px;
    max-width: 180.57142857px;
  }
  .app-blocks-i:nth-child(7) i {
    height: 40px;
    margin-top: 3px;
  }
  .app-blocks-i:nth-child(7) header {
    margin-bottom: 8px;
  }
  .app-blocks-i:nth-child(7) .close {
    left: auto;
    right: -6px;
  }
  .app-blocks-i:nth-child(8) {
    top: 177px;
    left: 287px;
    max-width: 148.57142857px;
  }
  .app-blocks-i:nth-child(8) header .big.down {
    margin-bottom: 6px;
  }
  .app-blocks-i:nth-child(8) i {
    margin-top: 3px;
  }
  .app-blocks-i:nth-child(8) .close {
    left: auto;
    right: -6px;
  }
  .app-blocks-i:nth-child(9) {
    top: 97px;
    left: 193px;
    max-width: 148.57142857px;
  }
  .app-blocks-i:nth-child(9) .close {
    left: auto;
    right: -6px;
  }
  .app-blocks-i:nth-child(9) header .big.down {
    margin-bottom: 6px;
  }
  .app-blocks-i:nth-child(10) {
    top: 102px;
    left: 391px;
    max-width: 159.23809524px;
  }
}
.block-icon {
  display: inline-block;
  height: 34px;
}
@media (max-width: 1279px) {
  .block-icon {
    height: 28px;
  }
}
.block-icon1 {
  background: url("../images/icons/icon1.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 26px;
}
@media (max-width: 1279px) {
  .block-icon1 {
    width: 23px;
  }
}
.block-icon2 {
  background: url("../images/icons/icon2.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 29px;
}
@media (max-width: 1279px) {
  .block-icon2 {
    width: 24px;
  }
}
.block-icon3 {
  background: url("../images/icons/icon3.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 88px;
}
@media (max-width: 1279px) {
  .block-icon3 {
    width: 73px;
  }
}
.block-icon4 {
  background: url("../images/icons/icon4.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 40px;
  height: 40px;
}
@media (max-width: 1279px) {
  .block-icon4 {
    width: 30px;
    height: 30px;
  }
}
.block-icon7 {
  background: url("../images/icons/icon7.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 120px;
  height: 40px;
}
@media (max-width: 1279px) {
  .block-icon7 {
    width: 91px;
    height: 30px;
  }
}
.block-icon8 {
  background: url("../images/icons/icon8.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 27px;
}
@media (max-width: 1279px) {
  .block-icon8 {
    width: 22px;
  }
}
.block-icon9 {
  background: url("../images/icons/icon9.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 26px;
}
@media (max-width: 1279px) {
  .block-icon9 {
    width: 21.5px;
  }
}
